@import "styles/vars";

.circle {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: $Porcelain;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;

  svg {
    margin-top: 20px;
    margin-left: 20px;
    width: 32px;
    height: auto;
  }
}

.title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  color: $MineShaft;
  margin-top: 29px;
}

.desc {
  font-size: 14px;
  line-height: 1.71;
  color: $Waterloo;
  margin-top: 17px;
  margin-bottom: 0;
}