@import "styles/vars";

.content {
  padding-top: 25px;
  padding-bottom: 25px;
}

.info {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: $SpunPearl;
  white-space: nowrap;
}

.line {
  display: block;
  width: 1.5px;
  height: 24px;
  background-color: $SpunPearl;
  margin: 0 15px;
}

.logo {
  width: 118px;
  height: auto;
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a:not(:first-child) {
    margin-left: 24px;
  }
}

@media (max-width: $md) {
  .info {
    font-size: 14px;
  }

  .logo {
    width: 80px;
  }

  .line {
    margin: 0 5px;
  }
}